<template>
  <div id="app">
    <div class="app-header">
      <div class="title">
        Manage Absence Codes
      </div>
      <div class="import-box">
        <div class="border-line">

        </div>
        <div class="import-file">
          <button class="import-button"><p>Import List from File</p><p>(.csv, xls, xlxs)</p></button>
        </div>
      </div>
    </div>
    <div class="main-panel">
      <Menu @change-menu="onChangeMenu"/>
      <dashboard v-bind:element="element" />
    </div>
    <div class="app-footer">

    </div>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import Dashboard from './components/Dashboard.vue'

export default {
  name: 'App',
  components: {
    Menu,
    Dashboard
  },
  data () {
    return {
      element: ''
    }
  },
  methods: {
    onChangeMenu (value) {
      this.element = value
    }
  }
}
</script>

<style>
@font-face {
  font-family: "SegoeUI";
  src: url(./assets/font/segoe-ui.ttf);
}

* {
  box-sizing: border-box;
}
#app {
  max-width: 1243px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
body {
  background-color: #ffffff;
  padding-top: 0.625rem;
  padding-bottom: 2.6875rem;
  font-size: 16px;
}
.app-header {
  width: 100%;
}
.app-footer {
  width: 100%;
  border: 1px solid #707070;
  background-color: #707070;
  padding: 15px;
}
.title {
  color: white;
  background: #2665A6;
  text-align: center;
  border: solid 1px #707070;
  padding: 5px;
}
.import-box {
  display: flex;
  padding: 20px 0;
}
.border-line {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}
.import-file {
  width: 12%;
}
.import-button {
  width: 100%;
  border-radius: 14px;
  border: solid 1px #707070;
  background-color: #fcccac;
  padding: 5px 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.import-button:hover {
  color: #a01712;
  background: white;
  border-color: #fcccac;
}
p {
  margin: 0;
}
.main-panel {
  display: flex;
  padding: 0 40px;
}
@media only screen and (max-width: 425px) {
  .border-line {
    width: 72%;
  }
  .import-file {
    width: 20%;
  }
}
@media only screen and (max-width: 576px) {
  .main-panel {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  #app {
    margin-top:0;
  }
  .border-line {
    width: 60%;
  }
  .import-file {
    width: 29%;
  }
}
@media only screen and (max-width: 1024px) {
  .main-panel {
    flex-direction: column;
  }
}
</style>
